body{
  background-color:#BDCBAD ;
  margin:0 ;
}

h1{
  font-family:MADE Tommy Soft  ;
  font-size:50px ;
  color:#1B3612 ;
}

h2{
  font-family:Bakso Sapi  ;
  font-size:35px ;
  color:#9B5C67 ;
}

h3{
  font-family:Bakso Sapi ;
  font-size:60px ;
  color:#9B5C67 ;
}

p{
  font-family:Bakso Sapi  ;
  font-size:25px ;
  color:#9B5C67 ;
}

th {
  border:3px solid #FFEFEF ;
  font-family:Arial Black ;
  color:#1B3612 ;
  font-size:30px ;
  text-align:center ;
  padding:6px ;

}

td {
  border:3px solid #FFEFEF ;
  font-family:Arial Black ;
  color:#9B5C67 ;
  font-size:16px ;
  text-align:left ;
  padding:6px ;
}

.header {
  text-align:center ;
  font-family:Bakso Sapi  ;
  background-color:#FFEFEF ;
  font-size:25px ;
}

.content {
  padding:40px ;
  background-color:#BDCBAD ;
}


.bg-image {
  height:70% ; 
  background-position:center ;
  background-repeat:no-repeat ;
  background-size:cover ;
}

.bg-text {
  background-color:rgba(0,0,0, 0.4) ; 
  color:pink ;
  font-size:65px ;
  font-weight:bold ;
  position: fixed;
  top: 60%;
  left: 50%;
  transform:translate(-50%, -50%) ;
  z-index:2 ;
  width:500px ;
  text-align:center ;
}

a:link {
  color:#767F6C ;
  background-color:transparent ;
  padding:15px 25px ;
  text-decoration:none ;
  display:inline-block ;
  font-family:Bakso Sapi ;
  font-size:25px ;
}

a:visited {
  color:#767F6C ;
  background-color:white ;
  padding:15px 25px ;
  text-decoration:none ;
  display:inline-block ;
}
a:hover {
  color:#E28FA6 ;
  background-color:transparent ;
}
a:active {
  color:#E28FA6 ;
  background-color:transparent ;
}

footer {
  position:relative ;
  bottom:0 ;
  left:0 ;
  right:0 ;
  padding:10px ;
  background-color:#FFEFEF ;
  text-align:center ;
  font-size:25px ;
  font-family:Bakso Sapi ;
  color:pink ;
} 

.back-to-top {
  position:fixed ;
  font-size:10px ;
  bottom:20px ;
  right:10px ;
  display:inline-flex ;
  alingn-items:center ;
  text-decoration:none ;
}

img{
border-radius:10px ;
}

.rounded-img {
  border-radius:50% ;
  overflow:hidden ;
}


div.gallery {
  border:1px solid #BDCBAD ;
}

div.gallery:hover {
  border:1px solid #BDCBAD ;
}

div.gallery img {
  width:100% ;
  height:auto ;
}

div.desc {
  font-family:MADE Tommy Soft  ;
  color:#70A565 ;
  padding:15px ;
  text-align:center ;
}

.responsive {
  padding:0 6px ;
  float:left ;
  width:24.99999% ;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width:49.99999%;
    margin:6px 0 ;
  }
}


@media only screen and (max-width: 500px) {
  .responsive {
    width:100% ;
  }
}

.clearfix:after {
  content:"" ;
  display:table ;
  clear:both ;
}

* {
  box-sizing:border-box ;
}

.column {
  float:left ;
  width:33.33% ;
  padding:4px ;
}

.row::after {
  content:"" ;
  clear:both ;
  display:table ;
}
